################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net48
/obj
/.vs/SampleCodeAnalyzerProject2
